<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <title>Movie List</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">Movie List</a>
    </div>
  </nav>

  {{!-- Partial template will replace 'body' --}}
  {{{ body }}}
  <script src="/js/bootstrap.bundle.js"></script>
</body>

</html>